html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #000;
  color: #fff;
}

img {
  pointer-events: none;
}

.main {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.mainTitle {
  font-family: 'Playfair Display';
  font-weight: 600; 
  font-size: 15px; 

}

.h2 {
  color: #b69b49;
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Playfair Display';
}

.text_v1 {
  font-weight: 500;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.7;
  font-family: 'Playfair Display';
}

.text_v2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.7;
}

/* Main section */
.main-section {
  padding: 3.5rem 0;
  position: relative;
}
.main-section::before {
  content: '';
  position: absolute;
  top: 53%;
  right: 15%;
  width: 420px;
  height: 420px;
  background: url('../img/ariaslogo.PNG') 0 0 /cover no-repeat;
  z-index: -1;

}

.main-section__content {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}

.logo {
  width: 300px;
  max-width: 100%;
} 

.main-section__content h1 {
  font-family: 'Playfair Display';
  font-size: 5.625rem;
  max-width: 450px;
  line-height: 1.2;
}

.main-section__text {
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-section a {
  padding: 1rem 1.25rem;
  border: 1px solid #F1CA66;
  background: #b69b49;
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  width: fit-content;
}
.main-section a:hover {
  background: #806d32;
}

/* Why section */
.why-section {
  padding: 150px 0 50px 0;
  display: grid;
  gap: 3.5rem 0;
}

.why-section__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 770px;
  margin: 0 auto;
}
.why-section__content p {
  font-weight: 500;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1.7;
  font-family: 'Playfair Display';
}

.why-section__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 250px));
  justify-content: space-between;
  gap: 2rem;
  
}

.why-section__row section {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}

.why-section__row img {
  display: flex;
  width: 80px;
  max-width: 100%;
  margin: 0 auto;
}

.why-section__row h3 {
  padding: 1.2rem 0 0.7rem 0;
}

/* Contacts section */
.contacts-section {
  display: grid;
  gap: 4.5rem 0;
  padding: 50px 0 100px 0;
  position: relative;
}
.contacts-section__row {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
}

.contacts-section__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.75rem;
}
.contacts-section__list li {
  display: flex;
}
.contacts-section__list li:first-child {
  font-size: 2.5rem;
  align-items: flex-end;
  font-weight: 700;
  font-family: 'Playfair Display';
  color: #b69b49;
  padding-bottom: 1.5rem;
}
.contacts-section__list li img {
  width: 20px;
  max-width: 100%;
  margin-right: 5px;
}
.contacts-section__list li:first-child img {
  width: 30px;
  max-width: 100%;
  margin-right: 10px;
}
.contacts-section__list li span {
  color: #b69b49; 
  font-weight: 600;
  font-family: 'Playfair Display';
}
.contacts-section__list a {
  position: relative;
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
}
.contacts-section__list a::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  transition: all 0.5s ease 0s;
  background: #b69b49;
}
.contacts-section__list a:hover::before {
  width: 100%;
}

.contacts-section__img {
  position: relative;
}
.contacts-section__img::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 20;
}
.contacts-section__img img {
  display: block;
  max-width: 100%;
  opacity: 0.8;
}

.contacts-section__text {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.5rem;
  font-family: 'Playfair Display';
}


/* Footer */
.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 0;
}

.footer h5 {
  text-align: right;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 820px) {
  .contacts-section__row {
    grid-template-columns: 1fr;
  }
  .contacts-section__img {
    position: absolute;
    right: -50%;    
    z-index: -1;
    opacity: 0.7;
    
  }
}

@media (max-width: 768px) {
  .h2 {
    font-size: 3.5rem;
  }
  .why-section__content p  {
    font-size: 1.25rem;
  }

  /* Main section */
.main-section::before {
  background-position: center;
  width: 100%;
  right: -30%;
}
/* Why section */
.why-section__row {
  grid-template-columns: repeat(2, minmax(auto, 250px));
  gap: 2rem;
}
.why-section__row section:last-child {
  grid-column: span 2;
}
}


@media (max-width: 424px) {
  /* Main section */
  .main-section::before {
    opacity: 0.6;
  }
  .main-section__content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.main-section__text {
  font-size: 1.25rem;
}
.main-section a {
  padding: 0.75rem 1rem;
  font-size: 1.5rem;
}
/* Why section */
.why-section__row {
  grid-template-columns: repeat(1, minmax(auto, 250px));
  gap: 3rem;
  justify-content: center;
}
.why-section__row section:last-child {
  grid-column: span 1;
}
/* Contacts section */
.contacts-section__list {
  font-size: 1.25rem;
}
.contacts-section__list li img {
  width: 15px;
}
.contacts-section__list li:first-child {
  font-size: 2rem;
}
.contacts-section__list li:first-child img {
  width: 25px;
}
.contacts-section__img {
  right: -30%;
}

.contacts-section__text {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 1.25rem;
  font-family: 'Playfair Display';
}
}